/* * {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
} */

:root {

        --iris: #4D5AE5;
        --ocean: #404BBF;
        --navy-blue: #2E2F42;
        --green: #31D0AA;
        --slate: #434455;
        --light-slate: #8E8F99;
        --cornflower: #E7E9FC;
        --cloud: #F4F4FD;
        --navy-blue-modal: rgba(46, 47, 66, 0.40);
        --grey: #2E2F42;
        --white: #FFF;
        --dairy: #FCFCFC;

}

p, h1, h2, h3, h4, h5, h6 {

        margin: 0;
}

ul {

        margin: 0;
        padding: 0;
}

body {

        background-color: var(--white);
        color: var(--navy-blue);
        font-family: 'Roboto', 'sans-serif';
        font-size: 16px;
        font-weight: 400;

}

li {

        list-style: none;

}

a {

        text-decoration: none;
        color: inherit;

}

address {

        font-style: inherit;

}

button {

        font-family: inherit;
        font-size: 16px;
        border: unset;
        outline: none;
        cursor: pointer;
        line-height: 1.5;
}

img {

        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;

}

.container {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        /* border: 2px solid red; */
        max-width: 428px;
      
                @media screen and (min-width: 768px) {
                max-width: 768px;
                }
        
                @media screen and (min-width: 1158px) {
                max-width: 1158px;
                }

}
    
.section {
    
        padding: 120px 0;
    
}

.hero-section {

        {
                background-image: url(../),
                  linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
                background-repeat: no-repeat;
                background-position: right;
                background-size: cover;
              
                @media screen and (min-width: 768px) {
                  background-image: unset;
                }
              
                /* Mobile 2x */
                @media (min-device-pixel-ratio: 2),
                  (min-resolution: 192dpi),
                  (min-resolution: 2dppx) {
                  background-image: url(../images/hero-bg-m@2x.jpg);
                }
              
                /* Tablet */
                @media screen and (min-width: 768px) {
                  background-image: url(../images/hero-bg-t.jpg),
                    linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
              
                  /* Tablet 2x */
                  @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                    background-image: url(../images/hero-bg-t@2x.jpg);
                  }
                }
              
                /* Desktop */
                @media screen and (min-width: 1158px) {
                  background-image: url(../images/hero-bg-d.jpg),
                    linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
              
                  /* Desktop 2x */
                  @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                    background-image: url(../images/hero-bg-d@2x.jpg);
                  }
                }
              }

}