* {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root {

        --iris: #4D5AE5;
        --ocean: #404BBF;
        --navy-blue: #2E2F42;
        --green: #31D0AA;
        --slate: #434455;
        --light-slate: #8E8F99;
        --cornflower: #E7E9FC;
        --cloud: #F4F4FD;
        --navy-blue-modal: rgba(46, 47, 66, 0.40);
        --grey: #2E2F42;
        --white: #FFF;
        --dairy: #FCFCFC;

}

body {

        background-color: var(--white);
        color: var(--navy-blue);
        font-family: 'Roboto', 'sans-serif';
        font-size: 16px;
        font-weight: 400;

}

li {

        list-style: none;

}

a {

        text-decoration: none;
        color: inherit;

}

address {

        font-style: inherit;

}

button {

        font-family: inherit;
        font-size: 16px;
        border: unset;
        outline: none;
        cursor: pointer;
        line-height: 1.5;
}

img {

        display: flex;
        max-width: 100%;
        height: auto;

}


.container {

        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;

}

.section {

        padding: 120px 0;

}

.page-logo {

        color: var(--iris);

        font-family: 'Raleway', 'sans-serif';
        font-size: 18px;
        font-weight: 800;
        line-height: 1.16667;

        letter-spacing: 0.54px;
        text-transform: uppercase;

}

.header,
.header-navigation,
.nav-list,
.header-address,
.address-list {

        display: flex;
        align-items: center;

}

.page-header {

        padding: 24px 0;
        border-bottom: 1px solid var(--cornflower);
        background: var(--white);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}

.page-logo-header {

        color: var(--navy-blue);
}

.page-logo-footer {

        color: var(--cloud);
}

.nav-list {

        font-weight: 500;
        margin-left: 76px;
        gap: 40px;
        transition: color cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-list-item {

        position: relative;

}

.nav-list-item:hover .nav-list-item-link::after {

        width: 100%;

}

.nav-list-item-link {

        color: var(--navy-blue);
        transition: color cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-list-item-link.active {

        color: var(--ocean);

}

.nav-list-item-link.active::after {

        width: 100%;

}

.nav-list-item-link::after {

        content: '';
        position: absolute;
        left: 0;
        bottom: -25px;

        width: 0;
        height: 4px;

        border-radius: 2px;
        background-color: var(--ocean);

        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item .nav-list-item-link:hover,
.nav-list-item .nav-list-item-link:focus,
.address-list-item .address-list-item-link:hover,
.address-list-item .address-list-item-link:focus {

        color: var(--ocean);

}

.header-address {

        margin-left: auto;

}

.address-list {

        gap: 40px;

}

.address-list-item-link {

        color: var(--slate);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section {

        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                url(/images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
        background-color: var(--navy-blue);
        padding: 188px 0;
        text-align: center;

}

.hero-title {

        color: var(--white);
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07143;
        letter-spacing: 1.12px;
        margin-bottom: 48px;
}

.hero-button {

        background-color: var(--iris);
        color: var(--white);
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 16px 32px;
        font-weight: 500;
        letter-spacing: 0.64px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-button:hover,
.hero-button:focus {

        background-color: var(--ocean);
}

.footer-section {

        background-color: var(--navy-blue);
        padding: 100px 0;

}

.footer-section-description {

        width: 264px;
        color: var(--cloud);
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-top: 16px;

}

.footer-list {

        display: flex;

}

.footer-icons-list {

        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 16px;
}

.footer-sm-icons:hover,
.footer-sm-icons:focus {

        background-color: var(--green);

}

.footer-title {

        color: var(--white);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;

}

.social-area {

        margin-left: 120px;
}

.newsletter-area {

        margin-left: 80px;
}

.newsletter {

        margin-left: 80px;
        margin-top: 16px;

        display: flex;
        gap: 24px;

        justify-content: center;
        align-items: center;

}

.newsletter button {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        gap: 16px;

        border-radius: 4px;
        background: var(--iris);
        color: var(--white);
        text-align: center;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;

        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter button:hover {

        background: var(--ocean, #404BBF);

}

.newsletter input {

        width: 264px;
        height: 40px;
        background-color: var(--navy-blue);
        color: var(--white);
        border-radius: 4px;
        border: 1px solid var(--white);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 8px 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.email-field {

        fill: var(--white);
}

.newsletter input::placeholder {

        color: var(--white);

}

.email-field:hover,
.email-field:focus {

        outline: none;
        border: 1px solid var(--ocean);
}


.subscribe-icon {

        width: 24px;
        height: 24px;

        fill: currentColor;

}

.features-section {

        padding-top: 120px;
}

.features-list {

        display: inline-flex;
        gap: 24px;
}

.features-icons {

        background-color: var(--cloud);
        width: 264px;
        height: 112px;
        padding: 24px 100px;
        margin-bottom: 8px;

        border: 1px solid;

}

.features-list-item-title {

        border: 1px solid;
}

.features-list-item-description {

        width: 264px;
        line-height: 1.5;
        margin-top: 8px;
        border: 1px solid;
}

.title {

        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11111;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom: 72px;

}

.service-list {

        display: flex;
        flex-wrap: wrap;
        gap: 24px;

}

.service-list-item {

        flex-basis: calc((100% - 48px) / 3);
}

.team-section {

        background-color: var(--cloud);

}

.team-list {

        display: flex;
        flex-wrap: wrap;
        gap: 24px;

}

.team-list-item {

        flex-basis: calc((100% - 72px) / 4);
        text-align: center;
        border-radius: 0px 0px 4px 4px;
        background: var(--white);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.cards {

        padding: 32px 0;
}

.cards-description {

        margin: 8px 0;
}

.icons-list {

        display: flex;
        justify-content: center;
        gap: 24px;

}

.team-icons,
.footer-sm-icons {

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--iris);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-icons:hover,
.team-icons:focus {

        background-color: var(--ocean);

}

.social-size,
.social-media {

        width: 16px;
        height: 16px;

}


.customers-list,
.customers-list-item {

        display: flex;
        gap: 24px;

}

.customers-list-item {

        border: 1px solid var(--light-slate);
        border-radius: 4px;
        color: var(--light-slate);
        height: 88px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-icons {

        fill: currentColor;
        width: 168px;
        height: 88px;
        padding: 16px 32px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-list-item:hover,
.customers-list-item-focus {

        color: var(--ocean);
        border-color: var(--ocean);

}

.filters {

        padding-top: 100px;
        padding-bottom: 72px;
}

.filters-list {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;

}

.filters-button {

        color: var(--iris);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;

        border-radius: 4px;
        border: 1px solid var(--cornflower);
        background: var(--cloud);

        padding: 12px 24px;

        cursor: pointer;

        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filters-button:hover,
.filters-button:focus {

        color: var(--white);
        border-radius: 4px;
        border-color: var(--ocean);
        background: var(--ocean);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
                0px 2px 1px 0px rgba(0, 0, 0, 0.08),
                0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}

.portfolio-projects {

        padding-left: 16px;
}

.projects-list {

        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
        padding-bottom: 120px;

}

.projects-list-item {

        flex-basis: calc((100% - 48px) / 3);
        border: 1px solid var(--cornflower);
}

.projects-list-item-wrap {

        position: relative;
        overflow: hidden;

}

.projects-list-item-overlay {

        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 40px 32px;

        color: var(--cloud);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;

        background-color: var(--iris);
        opacity: 0.9;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.projects-list-item:hover .projects-list-item-overlay {

        transform: translateY(0);

}

.projects-list-item:hover,
.projects-list-item:focus {

        border: 1px solid var(--cloud);
        background: var(--white);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        cursor: pointer;

}

.modal-backdrop {

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-hidden {

        visibility: none;
        opacity: 0;
        pointer-events: none;

}

.modal-popup {

        position: absolute;
        background-color: var(--dairy);
        padding: 24px;
        top: 50%;
        left: 50%;
        min-width: 408px;
        min-height: 584px;
        border-radius: 4px;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-popup-icon {

        fill: currentColor;
        width: 8px;
        height: 8px;

}

.close-popup {

        top: 24px;
        right: 24px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        color: var(--navy-blue);
        background-color: var(--cornflower);
        border: 1px solid rgba(0, 0, 0, 0.10);
        border-radius: 50px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-popup:hover,
.close-popup:focus {

        color: var(--white);
        background-color: var(--ocean);

}

.popup-title {

        text-align: center;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-top: 48px;
        margin-bottom: 33px;
}

.popup-form-icons {

        fill: var(--navy-blue);
        position: absolute;
        top: 50%;
        width: 22px;
        height: 25px;
        left: 16px;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-form-section {

        display: block;
        position: relative;

}

.section-label {

        position: absolute;
        color: var(--light-slate);
        top: -17px;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.48px;

}

.section-field,
.textarea-field {

        display: block;
        width: 100%;
        border: 1px solid var(--navy-blue-modal);
        border-radius: 4px;
        line-height: 1.16667;
        margin-bottom: 30px;
        padding-left: 38px;
        padding-top: 11px;
        padding-bottom: 11px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {

        font-family: inherit;
        resize: none;
        padding-left: 16px;

}

.section-field:hover,
.section-field:focus,
.textarea-field:hover,
.textarea-field:focus {

        outline: none;
        border-color: var(--iris);

}

.section-field:hover+.popup-form-icons,
.section-field:focus+.popup-form-icons {

        fill: var(--iris);

}

.agreement-icon {

        fill: var(--white);
        width: 16px;
        height: 16px;
        border: 1px solid var(--navy-blue-modal);
        border-radius: 3px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-icon:hover {

        fill: var(--cloud);
        background-color: var(--iris);
        border: 1px solid var(--iris);
        cursor: pointer;
}

.agreement-box:checked+.agreement-icon {

        background-color: var(--iris);
        border-color: var(--iris);
        fill: var(--cloud);
}

.hidden-box {

        position: absolute;
        clip-path: inset(100%);

}

.accept-terms {

        font-size: 12px;
        margin-left: 8px;
        line-height: 1.16667;
        letter-spacing: 0.48px;
}

.popup-agreement-section {

        display: flex;
        align-items: center;
}

.privacy-policy {

        color: var(--iris);
        line-height: 1.16667;
        letter-spacing: 0.48px;
        text-decoration: underline;
}

.send-form {

        display: block;
        margin: auto;
        margin-top: 24px;
        color: var(--white);
        background-color: var(--iris);
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        padding: 16px 32px;
        width: 50%;
        border-radius: 4px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form:hover {

        background-color: var(--ocean);
}

@media only screen and (min-width: 428px) and (max-width:767px) {

        .container {

                width: 775px;
                margin: 0 auto;

        }

}

@media only screen and (min-width: 428px) and (max-width: 767) {}